<h2>Registered Teams </h2>

 <% @teams.each do |t| %>

 <%= link_to (t.teamname), t %>-<%= pluralize(t.count, "Player") %><br>
 <% end %>
 
 <h3> New Team Registeration </h3>
<%= form_for @team do |f| %>
<%= f.label :teamname %>
<%= f.text_field :teamname %>
<%= f.submit "Create a Team" %>
<% end %>
